MODEL_PATH='/Users/aslan.vatsaev/.cache/lm-studio/models/TheBloke/Mistral-7B-Instruct-v0.2-GGUF/mistral-7b-instruct-v0.2.Q8_0.gguf'
LLM_INFERENCE_MODE = 'local' # local or remote
LLM_API_URL = 'https://api.openai.com/v1/' # only for remote mode
LLM_API_KEY = 'YOUR_KEY' # only for remote mode
LLM_API_MODEL = 'gpt-3.5-turbo' # only for remote mode
